.header {
  position: sticky;
  top: 0;
  min-height: 74px;
  background: var(--primary);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  line-height: 1.5;
}

.mobileNavToggle {
  display: none;
}

@media (max-width: 35rem) {
  .nav {
    position: fixed;
    z-index: 2000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(20rem, 15vh) 2rem;
    background: var(--primary-2);
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .navActive {
    transform: translateX(0%);
  }

  .mobileNavToggle {
    position: absolute;
    display: block;
    z-index: 9999;
    left: 1.5rem;
    top: 1rem;
    width: 2rem;
    color: var(--accent-9);
    font-size: 2rem;
    cursor: pointer;
  }
}

.logo {
  cursor: pointer;
  color: var(--accent-5);
  font-weight: 500;
}

.logo:hover {
  color: var(--accent-9);
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--accent-5);
}

.link:hover {
  color: var(--accent-9);
}

.link:focus {
  color: var(--accent-8);
}
