/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* VARIABLE CSS */
:root {
  /* COLOR */
  --first-color: #2691d9;
  --first-color-light: #bcd6e5;
  --white-color: #f7f6fb;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f3f3f3;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* UTILITY */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* START LOGIN SCREEN */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.container-form {
  width: 400px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.container-form h1 {
  padding: 20px 0;
  text-align: center;
}

.container-form form {
  padding: 0 40px;
}

form .txt-field {
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  outline: none;
}

form input[type='submit'] {
  width: 100%;
  background: var(--first-color);
  padding: 1rem;
  border-radius: 25px;
  font-size: 18px;
  color: var(--first-color-light);
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.message {
  text-align: center;
  color: red;
}

form input[type='submit']:hover {
  border-color: var(--first-color);
  transition: 0.5s;
}

.signup-link {
  margin: 30px 0;
  text-align: center;
}

.signup-link a {
  color: var(--first-color);
  text-decoration: none;
}

/* END LOGIN SCREEN */

/* ===DASHBOARD SCREEN=== */
#dashboard {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: auto;
  row-gap: 2rem;
  grid-template-areas:
    'sidebar nav nav'
    'sidebar dash dash';
}

#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: nav;
}

#main-nav div {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  visibility: hidden;
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-user {
  display: flex;
  align-items: center;
}

.user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.sidebar {
  background: #fff;
  position: sticky;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: 100;
  grid-area: sidebar;
}

.sidebar div:first-child {
  padding-top: 1rem;
}

.sidebar-logo,
.sidebar-link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.sidebar-logo {
  margin-bottom: 2rem;
}

.sidebar-logo-icon {
  font-size: 1.5rem;
}

.sidebar-logo-name {
  font-weight: 700;
}

.sidebar-icon {
  font-size: 1.25rem;
}

.nav-user-mobile {
  display: none;
}

.dashboard-container {
  max-width: 1100px;
  margin: 1rem 5rem;
  grid-area: dash;
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  grid-template-areas:
    'table table'
    'chart addForm';
}

.table-container {
  grid-area: table;
}

.chart {
  background-color: var(--white-color);
  width: 100%;
  grid-area: chart;
}

.add-form {
  grid-area: addForm;
  padding: 2rem;
  background-color: var(--white-color);
}

.add-form form {
  padding: 1rem;
  text-align: center;
}

table {
  width: 100%;
  background-color: var(--white-color);
  border-collapse: collapse;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: right;
  padding: 8px;
}

/* Navbar active link */
.active {
  color: var(--first-color);
}

.add-btn {
  background: var(--first-color);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 18px;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  outline: none;
}

.add-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 415px) {
  #dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'nav'
      'sidebar'
      'dash';
  }

  .chart {
    max-width: 400px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    left: -70%;
  }

  .sidebar-logo {
    display: none;
  }

  .nav-user-mobile {
    display: block;
  }

  #main-nav div:last-child {
    visibility: hidden;
  }

  .table-container {
    display: none;
  }

  .nav-toggle {
    visibility: visible;
  }

  .dashboard-container {
    /* margin-bottom: 1rem; */
    margin: 0 auto 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      'chart'
      'addForm';
  }
}

.show {
  left: 0;
}

/* LOG SCREEN */
#log {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  row-gap: 2rem;
  grid-template-areas:
    'sidebar nav'
    'sidebar log';
}

.log-container {
  grid-area: log;
  margin: 0 2rem;
  height: 100vh;
}

.search-btn {
  background: var(--first-color);
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.search-btn:hover {
  opacity: 0.9;
}

.search-box {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.pagination {
  display: inline-block;
  margin-top: 1rem;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination li:hover {
  background-color: var(--first-color);
}
